<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <script type="text/javascript" src="{{ url_for('static', filename='lodash.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dagre.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='nomnoml.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            socket.on('connect', function() {
                console.log("Connected with server\n");
            });


            // Event handler for server sent data.
            socket.on('serve', function(msg) {
                // console.log(msg.data)
                var canvas = document.getElementById('target-canvas');
                var noml = msg.data
                nomnoml.draw(canvas, noml);
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });
            $('form#graph1').submit(function(event) {
                socket.emit('graph1');
                return false;
            });
            $('form#graph2').submit(function(event) {
                socket.emit('graph2');
                return false;
            });
            $('form#graph3').submit(function(event) {
                socket.emit('graph3');
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <canvas id="target-canvas"></canvas>
    <form id="graph1" method="post" action="#">
      <input type="submit" value="graph1">
    </form>
    <form id="graph2" method="post" action="#">
      <input type="submit" value="graph2">
    </form>
    <form id="graph3" method="post" action="#">
      <input type="submit" value="graph3">
    </form>
    <form id="disconnect" method="POST" action="#">
      <input type="submit" value="Disconnect">
    </form>

</body>
</html>
